<section id="home" name="home"></section>
  <div id="headerwrap">
      <div class="container">
        <div class="row centered">
          <div class="col-lg-12">
          <h1>Discover <b>ZAT</b></h1>
          <h3>The easiest and fastest way to build Zendesk Apps.</h3>
          <br>
          </div>

          <div class="col-lg-2">
            <h5>Easy to install</h5>
            <p>Download the executable, choose a subdomain and start coding!</p>
            <img class="hidden-xs hidden-sm hidden-md" src="assets/arrow1.png">
          </div>
          <div class="col-lg-8">
            <img class="img-responsive" src="assets/app-bg.png" alt="">
          </div>
          <div class="col-lg-2">
            <br>
            <img class="hidden-xs hidden-sm hidden-md" src="assets/arrow2.png">
            <h5>Runs within Zendesk</h5>
            <p>Allowing you to use real data, real tickets in building your App!</p>
          </div>
        </div>
      </div> <!--/ .container -->
  </div><!--/ #headerwrap -->


  <section id="desc" name="desc"></section>
  <!-- INTRO WRAP -->
  <div id="intro">
    <div class="container">
      <div class="row centered">
        <h1>Designed To Help</h1>
        <br>
        <br>
        <div class="col-lg-4">
          <img src="assets/intro01.png" alt="">
          <h3>Great for beginners</h3>
          <p>If you've never built a Zendesk App before ZAT will help you get started by building your first App template following the standards.</p>
        </div>
        <div class="col-lg-4">
          <img src="assets/intro02.png" alt="">
          <h3>Build faster</h3>
          <p>Thanks to ZAT, you almost never have to package and upload your App zip file again. It will save you countless hours of manual painful tasks.</p>
        </div>
        <div class="col-lg-4">
          <img src="assets/intro03.png" alt="">
          <h3>Painless installation</h3>
          <p>Wether you install the Ruby Gem or the native app, we made ZAT ridiculously easy to install so you could get started faster.</p>
        </div>
      </div>
      <br>
      <hr>
      </div> <!--/ .container -->
  </div><!--/ #introwrap -->

  <!-- FEATURES WRAP -->
  <div id="features">
    <div class="container">
      <div class="row">
        <h1 class="centered">What is ZAT?</h1>
        <br>
        <br>
        <div class="col-lg-6 centered">
          <img class="centered" src="assets/macapp.png" alt="">
        </div>

        <div class="col-lg-6">
          <h3><b>Zendesk Apps Tools</b> is...</h3>
          <br>
        <!-- ACCORDION -->
                <div class="accordion ac" id="accordion2">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                            A step by step installation process
                            </a>
                        </div><!-- /accordion-heading -->
                        <div id="collapseOne" class="accordion-body collapse in">
                            <div class="accordion-inner">
                <p>We realized how complicated it was for people without a full fledged development machine to install ZAT. We heard your complaints and released a beautiful state of the art Mac OS X native application.</p>
                </div><!-- /accordion-inner -->
                        </div><!-- /collapse -->
                    </div><!-- /accordion-group -->
                    <br>

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                            A "Point to folder" ease of use
                            </a>
                        </div>
                        <div id="collapseTwo" class="accordion-body collapse">
                            <div class="accordion-inner">
                <p>All you have to do now once the installation is complete is point ZAT for Mac to your App folder and we'll do the rest!</p>
                </div><!-- /accordion-inner -->
                        </div><!-- /collapse -->
                    </div><!-- /accordion-group -->
                    <br>

                     <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                            an awesome Support team
                            </a>
                        </div>
                        <div id="collapseThree" class="accordion-body collapse">
                            <div class="accordion-inner">
                <p>As always, at Zendesk we strive on providing incredible customer support, if you run into issues we'll fix them for you.</p>
                </div><!-- /accordion-inner -->
                        </div><!-- /collapse -->
                    </div><!-- /accordion-group -->
                    <br>
          </div><!-- Accordion -->
        </div>
      </div>
    </div><!--/ .container -->
  </div><!--/ #features -->


  <section id="showcase" name="showcase"></section>
  <div id="showcase">
    <div class="container">
      <div class="row">
        <h1 class="centered">Download ZAT</h1>
        <br>
        <div class="btn-group">
          <button type="button" class="btn btn-warning btn-lg centered">
            Download for Mac OS X
          </button>
          </div>
          <div class="btnhelptext">
              <p>OS X 10.9 & 10.8</p>
      </div>
      <br>
      <div class="btn-group2">
               <button type="button" class="btn btn-warning btn-lg centered">
            Install the Ruby gem instead
          </button>
          </div>
          <div class="btnhelptext">
              <p>Requires Ruby 2.0</p>
      </div>
      <br>
      <br>
    </div><!-- /container -->
  </div>


  <section id="contact" name="contact"></section>
  <div id="footerwrap">
    <div class="container">
      <div class="col-lg-5">
        <h3>Zendesk Inc</h3>
        <p>
        989 Market Street,<br>
        San Francisco,<br>
        94103<br>
        United States
        </p>
      </div>

      <div class="col-lg-7">
        <h3>Drop Us A Line</h3>
        <br>
        <form role="form" action="#" method="post" enctype="plain">
          <div class="form-group">
            <label for="name1">Your Name</label>
            <input type="name" name="Name" class="form-control" id="name1" placeholder="Your Name">
          </div>
          <div class="form-group">
            <label for="email1">Email address</label>
            <input type="email" name="Mail" class="form-control" id="email1" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label>Your Text</label>
            <textarea class="form-control" name="Message" rows="3"></textarea>
          </div>
          <br>
          <button type="submit" class="btn btn-large btn-success">SUBMIT</button>
        </form>
      </div>
    </div>
  </div>
  <div id="c">
    <div class="container">
      <p>Created by Zendesk team Quokka</a></p>

    </div>
  </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/bootstrap.js"></script>
  <script>
  $('.carousel').carousel({
    interval: 3500

</body></html>
